<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Webpicture</display-name>
	<welcome-file-list>
		<welcome-file>/html/index.jsp</welcome-file>
	</welcome-file-list>
	<!-- Declaración de servlets -->
	<servlet>
		<servlet-name>index.jsp</servlet-name>
		<jsp-file>/html/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>index.jsp</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>webPictureActions.jsp</servlet-name>
		<jsp-file>/html/webPictureActions.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>webPictureActions.jsp</servlet-name>
		<url-pattern>/webpicture</url-pattern>
	</servlet-mapping>
	<!-- Mapeo del JSP -->
	<servlet>
		<servlet-name>createEditor.jsp</servlet-name>
		<jsp-file>/html/createEditor.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>createEditor.jsp</servlet-name>
		<url-pattern>/new_editor</url-pattern>
	</servlet-mapping>
	<!-- Mapeo del manejador -->
	<servlet>
		<servlet-name>newEditor</servlet-name>
		<servlet-class>en.ar.picture.webpicture.servlets.NewEditorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newEditor</servlet-name>
		<url-pattern>/create_editor</url-pattern>
	</servlet-mapping>
	<!-- Mapeo del JSP -->
	<servlet>
		<servlet-name>reviewEditors.jsp</servlet-name>
		<jsp-file>/html/reviewEditors.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>reviewEditors.jsp</servlet-name>
		<url-pattern>/all_editors</url-pattern>
	</servlet-mapping> 
	<!-- Mapeo del manejador -->
	<servlet>
		<servlet-name>availableEditors</servlet-name>
		<servlet-class>en.ar.picture.webpicture.servlets.ReviewEditorsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>availableEditors</servlet-name>
		<url-pattern>/available_editors</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>reviewModels.jsp</servlet-name>
		<jsp-file>/html/reviewModels.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>reviewModels.jsp</servlet-name>
		<url-pattern>/all_diagrams</url-pattern>
	</servlet-mapping>
	<!-- Mapeo del servlet generado -->
	<servlet>
		<servlet-name>newDiagram.jsp</servlet-name>
		<servlet-class>en.ar.picture.webpicture.servlets.NewDiagramServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newDiagram.jsp</servlet-name>
		<url-pattern>/new_diagram</url-pattern>
	</servlet-mapping>
	<!-- Mapeo de servlet generado -->
	<servlet>
		<servlet-name>editorDetail.jsp</servlet-name>
		<servlet-class>en.ar.picture.webpicture.servlets.EditorInformationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editorDetail.jsp</servlet-name>
		<url-pattern>/editor_information</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>editor.jsp</servlet-name>
		<jsp-file>/html/editor.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>editor.jsp</servlet-name>
		<url-pattern>/editor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>errorReport.jsp</servlet-name>
		<jsp-file>/html/errorReport.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>errorReport.jsp</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<!--  <context-param>
		<param-name>tempfile.dir</param-name>
		<param-value>tmpfiles</param-value>
	</context-param>-->
</web-app>